# Domain
# This would be set to the production domain with an env var on deployment
DOMAIN=localhost

# Environment: local, staging, production
ENVIRONMENT=production

PROJECT_NAME="Kubernetes AI Agent"
STACK_NAME=kubernetes-ai-agent

# Backend
BACKEND_CORS_ORIGINS="http://localhost,http://localhost:5173,https://localhost,https://localhost:5173,http://localhost.tiangolo.com,http://localhost:8080,https://localhost:8433"
SECRET_KEY=changethis
FIRST_SUPERUSER=admin@example.com
FIRST_SUPERUSER_PASSWORD=changethis
USERS_OPEN_REGISTRATION=False # Set to True if you want to allow open registration

# Emails
SMTP_HOST=
SMTP_USER=
SMTP_PASSWORD=
EMAILS_FROM_EMAIL=info@example.com
SMTP_TLS=True
SMTP_SSL=False
SMTP_PORT=587

# Postgres
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_DB=app
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

SENTRY_DSN=

# Configure these with your own Docker registry images
DOCKER_IMAGE_BACKEND=backend
DOCKER_IMAGE_FRONTEND=frontend

# General
TIMEZONE="Europe/Zurich" # https://pypi.org/project/pytz/

# Kubernetes configuration
NAMESPACES=[]
KUBE_HOST=
KUBECONFIG_PATH=
GOOGLE_APPLICATION_CREDENTIALS_FILE=

# Prometheus
PROMETHEUS_URL=

# Langchain
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY=
OPENAI_API_KEY=
LLM_MODEL="gpt-4o"
OLLAMA_BASE_URL="http://host.docker.internal:11434"